.team{
  padding: 100px 100px;
}


.team_title {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: .9rem;
}

.team_cards{
  padding-top: 0px;
}

.container10 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container10 .cards10 {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(rgba(103, 52, 31, 0.794) 30%, #000000);
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .container10 .cards10 .imgBx10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 9;
    border-radius: 20px;
    overflow: hidden;
    transform-origin: top;
  }
  
  .container10 .cards10:hover .imgBx10 {
    transform: translateY(30px) scale(0.5);
  }
  
  .container10 .cards10 .imgBx10 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
   .container10 .cards10 .content10{
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
  }
  
  .container10 .cards10:hover .content10{
    transform: translateY(0);
  }
  

  .container10 .cards10 .content10 .details10{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .container10 .cards10 .content10 .details10 h2{
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .container10 .cards10 .content10 .details10 h2 span{
    color:rgba(225, 112, 67, 0.794);
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.4rem;
  }
  

@media(max-width: 570px){
  .team{
    padding: 80px 20px;
  }
}

@media(max-width: 413px){
  .team{
    padding: 30px 2px;
  }
  .container10 .cards10 {
    width: 250px;
  }
}
